<% include partials/header %>


<!-- HERO SECTION  -->
<div class="site-hero-contact">
    <div class="section-overlay"></div>
    <div class="page-title">
        <h2>Contact Us</h2>
        <div class="small-title">home / contact</div>
    </div>
</div>

<section class="contact_brick">
    <div class="container mt-100">
        <!-- CONTACT FORM -->
        <form id="photography_upload_form">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2 class="mb-50">Photography</h2>
                </div>
            </div>
            <!--<div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                </div>
                <div class="form-group">
                    <button id="submit_btn" class="default-btn gray-btn"> Send <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>
            </div>-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Image 1</p>
                    <input type="file" class="image1" accept="image/*" data-max-size="5000"/>
                    <input type="button" class="uploadImg1  gray-btn" value="Upload"/>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Image 2</p>
                    <input type="file" class="image1" accept="image/*" data-max-size="5000"/>
                    <input type="button" class="uploadImg1 " value="Upload"/>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Image 3</p>
                    <input type="file" class="image1" accept="image/*" data-max-size="5000"/>
                    <input type="button" class="uploadImg1 " value="Upload"/>
                </div>
            </div>
        </form>
    </div><!-- end container -->
</section>

<!--<form action="" id="imgur" method="#">
    <h3>Photography</h3>
    <p>Image 1</p><input type="file" class="image1" accept="image/*" data-max-size="5000"/>
    <p>Image 2</p><input type="file" class="image2" accept="image/*" data-max-size="5000"/>
    <p>Image 3</p><input type="file" class="image3" accept="image/*" data-max-size="5000"/>
    <button class="uploadImg1">Upload</button>
</form>-->


<% include partials/footer %>