<% include partials/header %>
<h1>ERROR</h1>

<%- messages('message', locals) %>
<% if(errors) { %>
<% for( var key in errors.mapped()) { %>
<div class="row">
    <div class="col s4 offset-m4 center">
        <div id="card-alert" class="card red lighten-5">
            <div class="card-content green-text">
                <p><%= errors.mapped()[key].msg %></p>
            </div>
        </div>
    </div>
</div>
<% } %>
<% } %>

<% include partials/footer %>