<html>
<head>
    <title><%= title %></title>
    <!--Font-->
    <link rel="stylesheet" href="/styles/css/all.css">
    <!--Materialize-->
    <link rel="stylesheet" href="/styles/css/materialize.css">

    <!--Style-->
    <link rel="stylesheet" href="/styles/css/style.css">

    <script src="/js/jquery-2.2.4.js"></script>
    <script src="/js/materialize.js"></script>

    <script src="/js/main.js"></script>
</head>
<body id="home" class="scrollspy">

<!--JavaScript at end of body for optimized loading-->
<script src="https://materializecss.com/bin/materialize.js"></script>

<!--Navbar-->
<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Travelville</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#search">Search</a>
                    </li>
                    <li>
                        <a href="#popular">Popular Places</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="#" data-target="loginModal" class="login modal-trigger">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="#search">Search</a>
    </li>
    <li>
        <a href="#popular">Popular Places</a>
    </li>
    <li>
        <a href="#gallery">Gallery</a>
    </li>
    <li>
        <a href="#contact">Contact</a>
    </li>
    <li>
        <a href="#loginModal" class="login modal-trigger">Login</a>
    </li>
</ul>

<div class="container center">
    <%- messages('message', locals) %>
    <h4>Register</h4>
    <div id="register-page" class="row center">
        <div class="col s6 z-depth-6 card-panel offset-m3">
            <form class="register-form" action="/users/register" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="username">User Name</label>
                        <input type="text" name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="name">Name</label>
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="passwordcf">Password Confirm</label>
                        <input type="password" name="passwordcf">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s12">Register</button>
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">Already have an account? <a
                                    href="/users/login">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%include partials/footer%>